<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net472" />
  <package id="NetTopologySuite" version="1.15.1" targetFramework="net472" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.1" targetFramework="net472" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net472" />
  <package id="odac.client.x86" version="1.112.3.20" targetFramework="net472" />
  <package id="odp.net.x86" version="112.3.20" targetFramework="net472" />
</packages>