<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.24.36" targetFramework="net471" />
  <package id="CairoSharp" version="3.22.24.36" targetFramework="net471" />
  <package id="GdkSharp" version="3.22.24.36" targetFramework="net471" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net45" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net45" />
  <package id="GioSharp" version="3.22.24.36" targetFramework="net471" />
  <package id="GLibSharp" version="3.22.24.36" targetFramework="net471" />
  <package id="GtkSharp" version="3.22.24.36" targetFramework="net471" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net45" />
  <package id="PangoSharp" version="3.22.24.36" targetFramework="net471" />
</packages>