<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WinFormSamples.Properties.Settings.PostGisConnectionString" connectionString="Server=localhost;Port=5432;Database=postgis_sample;uid=postgres;password=sergtsop;"/>
    <add name="WinFormSamples.Properties.Settings.SpatiaLiteConnectionString" connectionString="Data Source=GeoData\SpatiaLite\sample.sqlite;"/>
  </connectionStrings>
  <appSettings>
    <add key="FWToolsBinPath" value="C:\Program Files (x86)\FWTools2.4.7\bin"/>
    <add key="FWToolsProjLib" value="C:\Program Files (x86)\FWTools2.4.7\proj_lib"/>
    <add key="FWToolsGeoTiffCsv" value="C:\Program Files (x86)\FWTools2.4.7\data"/>
    <add key="FWToolsGdalData" value="C:\Program Files (x86)\FWTools2.4.7\data"/>
    <add key="FWToolsGdalDriver" value="C:\Program Files (x86)\FWTools2.4.7\plugins"/>
    <add key="SpatiaLitePath" value="D:\GIS\SpatiaLite\2.4.0_RC3\x86"/>
    <add key="SpatiaLiteNativeDll" value="libspatialite-2.dll"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.net>
    <authenticationModules ></authenticationModules>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
