<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormSamples.Properties.Settings.PostGisConnectionString"
            connectionString="Server=localhost;Port=5432;Database=postgis_sample;uid=postgres;password=sergtsop;" />
    </connectionStrings>
  <appSettings>
    <add key="FWToolsBinPath" value="D:\dev\FWTools\FWTools2.4.2\bin"/>
  </appSettings>
</configuration>
