<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="NetTopologySuite" version="1.15.1" targetFramework="net472" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.1" targetFramework="net472" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net472" />
  <package id="ProjNET4GeoAPI" version="1.4.1" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net472" />
</packages>