<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.5" targetFramework="net40" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net40" requireReinstallation="true" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NetTopologySuite" version="1.15.1" targetFramework="net40" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.1" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="ProjNET4GeoAPI" version="1.4.1" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net452" />
</packages>