<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GDAL" version="1.11.1" targetFramework="net40" />
  <package id="GDAL.Native" version="1.11.1" targetFramework="net40" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net40" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net40" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net40" />
  <package id="NetTopologySuite" version="1.15.1" targetFramework="net40" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.1" targetFramework="net40" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net40" />
  <package id="NetTopologySuite.IO.SpatiaLite" version="1.15.0" targetFramework="net40" />
  <package id="ProjNET4GeoAPI" version="1.4.1" targetFramework="net40" />
</packages>