<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinFormSamples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WinFormSamples.Properties.Settings.PostGisConnectionString"
            connectionString="Host=127.0.0.1;Port=5432;Database=postgis_sample;uid=postgres;password=1.Kennwort;" />
        <add name="WinFormSamples.Properties.Settings.SpatiaLiteConnectionString"
            connectionString="Data Source=GeoData\SpatiaLite\sample.sqlite;" />
        <add name="WinFormSamples.Properties.Settings.SqlServerConnectionString"
            connectionString="Data Source=;Initial Catalog=;Integrated Security=True" />
    </connectionStrings>
    <appSettings>
        <add key="SpatiaLitePath" value="D:\GIS\SpatiaLite\2.4.0_RC3\x86" />
        <add key="SpatiaLiteNativeDll" value="libspatialite-2.dll" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="GoogleMapsApiKey" value="Your Google Maps Api Key goes here!" />
    </appSettings>
    <system.net>
        <authenticationModules>
        </authenticationModules>
    </system.net>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="ClientRoleProvider">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <common>
        <logging>
            <!--Log to Console_-->
            <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
                <arg key="level" value="DEBUG" />
                <arg key="showLogName" value="true" />
                <arg key="showDateTime" value="true" />
                <!--<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />-->
                <arg key="dateTimeFormat" value="HH:mm:ss:fff" />
            </factoryAdapter>
        </logging>
    </common>
    <applicationSettings>
        <WinFormSamples.Properties.Settings>
            <setting name="OleDbProvider" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
        </WinFormSamples.Properties.Settings>
    </applicationSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>
