<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net40" />
  <package id="GDAL" version="1.11.1" targetFramework="net40" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net40" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net40" requireReinstallation="true" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite" version="1.15.1" targetFramework="net40" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.1" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite.Features" version="1.15.0" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite.IO.PostGis" version="1.15.0" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite.IO.SpatiaLite" version="1.15.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Npgsql" version="2.2.7" targetFramework="net40" requireReinstallation="true" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net40-Client" />
  <package id="ProjNET4GeoAPI" version="1.4.1" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net40" requireReinstallation="true" />
</packages>