<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40-client" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40-client" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net40-client" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net40-client" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net40-client" />
  <package id="NetTopologySuite" version="1.15.1" targetFramework="net40-client" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.1" targetFramework="net40-client" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net40-client" />
</packages>