<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileGdbNativeDirectory" value="D:\GIS\FileGDB\bin"/>
  </appSettings>
  <dependentAssembly>
    <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
  </dependentAssembly>
</configuration>