<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.5" targetFramework="net40-client" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net40-client" requireReinstallation="true" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net40-client" requireReinstallation="true" />
  <package id="NetTopologySuite" version="1.15.1" targetFramework="net40-client" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.1" targetFramework="net40-client" requireReinstallation="true" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net40-client" requireReinstallation="true" />
  <package id="NUnit" version="2.6.3" targetFramework="net40-Client" />
</packages>