<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="GetMap.aspx" type="SharpMap.Web.HttpHandler,SharpMap"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="FWToolsBinPath" value="D:\dev\FWTools\FWTools2.4.2\bin"/>
  </appSettings>
  <connectionStrings>
    <add name="mssqlspatial" connectionString="server=XXXXXXXXXXX;initial catalog=SharpMapMsSqlSpatialDemoDb;trusted_connection=true;" providerName="System.Data.SqlClient"/>
    <add name="postgis" connectionString="host=127.0.0.1; userid=postgres; password=sergtsop; database=postgis_sample;" providerName="Npgsql"/>
  </connectionStrings>
</configuration>
