<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UnitTests.Properties.Settings.MsSqlSpatial" connectionString="Data Source=IVV-SQLD;Initial Catalog=OBE;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="UnitTests.Properties.Settings.SqlServer2008" connectionString="Data Source=;Initial Catalog=;Integrated Security=True" />
        <add name="UnitTests.Properties.Settings.PostGis" connectionString="Server=ivv-t3s.ivv-aachen.de;Port=5432;database=postgis_sample;Integrated Security=true;" />
        <add name="UnitTests.Properties.Settings.SpatiaLite" connectionString="Data Source=:memory:" />
    </connectionStrings>
    <applicationSettings>
        <UnitTests.Properties.Settings>
            <setting name="OleDbProvider" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
        </UnitTests.Properties.Settings>
    </applicationSettings>
    <common>
        <logging>
            <!--Log to Console_
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="false" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>-->
        </logging>
    </common>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.15.3.0" newVersion="1.15.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
