<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UnitTests.Properties.Settings.MsSqlSpatial" connectionString="Data Source=IVV-SQLD;Initial Catalog=OBE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UnitTests.Properties.Settings.SqlServer2008" connectionString="Data Source=IVV-SQLD;Initial Catalog=OBE;Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <UnitTests.Properties.Settings>
            <setting name="PostGis" serializeAs="String">
                <value>Data Source=localhost;Port=5432;User Id=postgres;Password=1.Kennwort</value>
            </setting>
            <setting name="SpatiaLite" serializeAs="String">
                <value>Data Source=:memory:</value>
            </setting>
        </UnitTests.Properties.Settings>
    </applicationSettings>
</configuration>