<?xml version="1.0"?>
<configuration>
    <configSections>
      <sectionGroup name="common">
        <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UnitTests.Properties.Settings.MsSqlSpatial" connectionString="Data Source=IVV-SQLD;Initial Catalog=OBE;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="UnitTests.Properties.Settings.SqlServer2008" connectionString="Data Source=;Initial Catalog=;Integrated Security=True"/>
    </connectionStrings>
    <applicationSettings>
        <UnitTests.Properties.Settings>
            <setting name="PostGis" serializeAs="String">
                <value>Host=127.0.0.1;Port=5432;User Id=postgres;Password=1.Kennwort;database=postgis_sample</value>
            </setting>
            <setting name="SpatiaLite" serializeAs="String">
                <value>Data Source=:memory:</value>
            </setting>
        </UnitTests.Properties.Settings>
    </applicationSettings>
  <common>
    <logging>
      <!--Log to Console_-->
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="false"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3,Profile=Client"/>
  </startup>
</configuration>
